
body {
    
}

#search {
    direction: rtl;
}

#searchImg {
    right: unset;
    left: 1rem;
}

.nextBirthday {
    direction: rtl;
}

@media only screen and (max-width: 440px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 370px) {

    h1 {
        font-size: 1.2rem;
    }
}