
html {
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    /*background-color: red;*/
    /*background-color: #3fe09b;*/
}

main {
    margin-top: 12rem;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: white;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	background-color: #ff5a4e;
}

.headerContainer {
    width: 100%;
    z-index: 1;
}

.header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    background-color: #EAEAEA;
    box-shadow: 0 3px 8px 3px #848484;
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    z-index: 1;
}

h1 {
	text-align: center;
	margin-top: 2rem;
}

.btnWrapper {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    /*margin-top: 15rem;*/
    width: 100%;
    opacity: 0;
}

.btnWrapper button {
    /*display: none;*/
    border: none;
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    background: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 3px 3px #848484;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
}

button:active {
  box-shadow: 0 5px 5px #666;
  transform: translateY(4px);
  -ms-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -o-transform: translateY(4px);
}

.searchContainer {
    position: absolute;
    top: 6rem;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.searchContant {
    position: relative;
    width: 30%;
    margin: auto;
}

#search {
    /*box-shadow: 0 3px 8px 3px #848484;*/
    border: none;
    width: 100%;
    height: 2rem;
    text-indent: 1rem;
    font-size: 1.3rem;
    outline: none;
    border-bottom: 1px solid #ccc;
    background: none;
}

#searchImg {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 30px;
}

#search:focus {
    outline: none;
}

#search ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ff5a4e;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}
#search:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    left: 0;
}

.spinnerWrapper {
    position: absolute;
    top: 8rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    min-height: 215px;
    vertical-align: top;
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}
    
.loader-1 .loader-outter {
    position: absolute;
    border: 4px solid #ef5350;
    border-left-color: transparent;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    
}
    
.loader-1 .loader-inner {
    position: absolute;
    border: 4px solid #ef5350;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border-right: 0;
    border-top-color: transparent;
    animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

@keyframes loader-1-outter {

    0% {
         transform: rotate(0); 
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
    }

    100% {
         transform: rotate(360deg); 
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-1-outter {

    0% {
         transform: rotate(0); 
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
    }

    100% {
         transform: rotate(360deg); 
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
    
@keyframes loader-1-inner {

    0% {
         transform: rotate(0); 
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
    }
    100% {
         transform: rotate(-360deg); 
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
    
@-webkit-keyframes loader-1-inner {
    0% {
         transform: rotate(0); 
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
    }
    100% {
         transform: rotate(-360deg); 
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
    
h2 {
	font-size: 4rem;
	text-align: center;
    display: block;
    width: 100%;
}

p {
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    /*margin-top: 14rem;*/
}

.groupWrapper {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.groupWrapper:nth-child(odd) {
    background-image: linear-gradient(-180deg, #3fe09b, #3a47e4);
}

.groupWrapper:nth-child(even) {
    background-image: linear-gradient(180deg, #3a47e4, #3fe09b);
}

.odd {
    background-color: lightgray;
}

.even {
    background-color: orange;
}

.personWrapper {
    box-shadow: 0 3px 8px 3px #848484;
    border-radius: 5px;
    margin: 2rem;
    text-align: center;
    /*background-color: white;*/
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    cursor: pointer;
    position: relative;
    width: 20rem;
    /*height: 18rem;*/
}

.genderImg {
    position: absolute;
    top: .5rem;
    right: 1rem;
    width: 30px;
}

.personImgWrapper {
    width: 100%;
    /*position: absolute;
    bottom: 1rem;*/
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.personImg {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    box-shadow: 0 1px 3px 3px #848484;
}

.goToTopBtn {
    display: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: fixed;
    bottom: 6rem;
    right: 1.5rem;
    z-index: 999;
}

/*------------------------Popups-------------------------*/
    
.popUpInfo {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    min-height: 900px;
    background: rgba(210,220,225,.8);
    top: 0;
}

.popUpInfo h2 {
    font-size: 2rem;
}

.popupCont {
    display: block;
    position: fixed;
    width: 40rem;
    background: #fff;
    padding: 1em;
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

.popupContent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
    border-radius: 10px;
}

.personNamePop {
    margin-bottom: 0;
}

.linksWrapper {
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

#facebookLink {
    margin-left: 2rem;
    margin-right: 2rem;
}

#instagramLink {
    margin-left: 2rem;
    margin-right: 2rem;
}

#facebookImage {
    width: 100px;
    height: 100px;
    filter: drop-shadow(1px 1px 2px gray);
    -webkit-filter: drop-shadow(1px 1px 2px gray);
}

#instagramImage {
    width: 100px;
    height: 100px;
    filter: drop-shadow(1px 1px 2px gray);
    -webkit-filter: drop-shadow(1px 1px 2px gray);
}

.popupBtnsWrapper {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.popupBtn {
    padding: .7rem;
    width: 7rem;
    margin: auto;
    margin-top: 2rem;
    font-weight: 600;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor:pointer;
    background-color: #ff5a4e;
    box-shadow: 0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;
}

.Xbtn {
    display: block;
    position: absolute;
    width:25px;
    height:25px;
    background:url(../images/closeBtn.png) no-repeat top center;
    background-Size:100% auto;
    top: 1em;
    right: 1em;
    cursor:pointer;
}

.personCoverWrapper {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    opacity: .5;
    z-index: 0;
    text-align: center;
}

#personCover {
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

.nextBirthday {
    margin-top: 14rem;
}

#addeventatc1 {
    display: block;
    outline: none;
    width: 9rem;
    margin: auto;
    color: white !important;
    background-color: #5EA0FF;
}


@media only screen and (max-width: 1200px) {
    .personWrapper {
        width: 15rem;
        /*height: 17rem;*/
        margin: 1rem;
    }

    .personImg {
        width: 8rem;
        height: 8rem;
    }
}

@media only screen and (max-width: 1000px) {
    .popupCont {
        width: 65%;
    }

    .searchContant {
        width: 75%;
    }

    /*#search {
        width: 75%;
    }*/
}

@media only screen and (max-width: 880px) {

    .personWrapper img {
        margin-right: 0;
    }
}

@media only screen and (min-width: 765px) {

    .personWrapper:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
}

@media only screen and (max-width: 765px) {

    /*.header {
        height: 12rem;
    }*/

    /*.searchContainer {
        top: 8rem;
    }*/

    /*main {
        margin-top: 12rem;
    }*/

    /*.spinnerWrapper {
        top: 8rem;
    }*/

    .popupCont {
        top: 5%;
    }
}


@media only screen and (max-width: 550px) {

    .personWrapper {
        width: 12rem;
    }
}

@media only screen and (max-width: 460px) {

    .personWrapper {
        width: 9rem;
    }

    .searchContant {
        width: 87%;
    }

    #facebookImage {
        width: 85px;
        height: 85px;
    }

    #instagramImage {
        width: 85px;
        height: 85px;
    }
}


@media only screen and (max-width: 370px) {

    #search {
        font-size: 1.1rem;
    }

    .personWrapper {
        width: 7rem;
    }

    .personImg {
        width: 6rem;
        height: 6rem;
    }
}
